@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar { width: 8px; background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #232526; border-radius: 8px; }

 .css-1u9des2-indicatorSeparator{
  display: none !important;
}